body {
background : #C0D9D9 url(images/fondo.gif) repeat;
font : 8pt Verdana, Geneva, Arial, Helvetica, sans-serif;
color : #666666;
margin : 20px 0px 20px 0px;
text-align: center;
}
#borde{
border: 2px solid #cccccc;
text-align: left;
width: 700px;
margin: auto;
} 
#contenedor{
text-align: left;
border: 2px solid #cccccc;
width: 700px;
background-color : #ffffff;
margin: auto;
} 
#cabecera{
height : 106px;
width: 700px;
} 
#navegador{
	width: 100px;
	border-right: 1px solid #000;
	padding: 0 0 1em 0;
	margin-bottom: 1em;
	font-family: 'Trebuchet MS', 'Lucida Grande',
	  Verdana, Lucida, Geneva, Helvetica, 
	  Arial, sans-serif;
	background-color: #68729E;
	color: #333;
	float:right;
	} 
#navegador ul {
		list-style: none;
		margin: 0;
		padding: 0;
		border: none;
		}
#navegador li {
		border-bottom: 1px solid #68729E;
		margin: 0;
		}

A.enlacenav, A.enlacenav:VISITED, A.enlacenav:ACTIVE, A.enlacenav:FOCUS, A.enlacenav:LINK{
color: #ffffff;
}
A.enlacenav:HOVER{
color: #3F7DE3;
} 
#cuerpo{
width:380px;
margin-left: 8px;
padding: 12px 0px 10px 0px;
background-color : #ffffff;
float:right;
} 
H1{
font-size: 12pt;
} 
#navabajo{
font-weight : bold;
} 
#lateral{
width: 200px;
background-color: #EBF2FE;
border-bottom : 1px solid #cccccc;
border-left : 1px solid #cccccc;
float:right;
} 
.titlat{
background-color:#68729E;
color:#ffffff;
font-size:8pt;
text-transform : uppercase;
padding: 7px 3px 7px 8px;
font-weight : normal;
letter-spacing : 2px;
margin: 0px 0px 8px 0px;
}
.cuerpolateral{
padding: 5px 4px 13px 10px;
} 
INPUT {
font-size : 8pt;
} 
#fbuscar form{
margin-bottom : 0px;
margin-top : 0px;
} 
#campotexto{
float: left;
}
#campotexto input{
width:100px;
}  
#botonbuscar {
padding-top : 3px;
padding-left: 106px;
} 
#botonbuscar input{
border : 0px none;
}
.radio{
clear:both;
} 
#otras ul{
margin : 5px 10px 0px 0px;
padding: 0px 0px 0px 4px;
list-style: none;
} 
#otras li{
padding-left: 14px;
background: transparent url("images/bullet.gif") 0 2px no-repeat;
margin-bottom: 10px;
} 
#pie{
clear : both;
color : #cccccc;
text-align : right;
margin : 10px 10px 0px 10px;
padding-bottom:10px;
}  
